
        h1 {
            color:firebrick;
            text-align: center;
        }
        .divClass{ text-align: center;
        }
        img{width: 400px;
        align-content: center;}
        #thirDiv{ height: 600px;
        width: 500px;
        background-color: tan;}
        #spanId{font-size: 18px;
        margin: 50px;
        text-align: center;}
        #thirDiv{padding: 50px;
        border: darkslategray;
        margin-left: auto;
        margin-right: auto;}
        body{ background:url(../homework/logoOG.png);}